#gnav::after, .box-white-about dl::after, .box-blue-contact dl::after {
  display: block;
  clear: both;
  content: ""; }

/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  font-size: 62.5%; }

body {
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#container {
  background-color: #fff; }

#wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  border: 1px solid #fff; }

.top-btn {
  width: 64px;
  height: 64px;
  background-color: #fff799;
  border-radius: 50px;
  display: block;
  position: relative;
  bottom: 15px;
  left: 76%;
  position: fixed;
  border: 2px solid #ccc; }

.top-btn img {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 6px;
  top: 20px; }

.top-btn p {
  font-size: 12px;
  font-family: "Meiryo";
  font-weight: bold;
  color: #8ed5be;
  border-bottom: 1px solid #8ed5be;
  padding-bottom: 2px;
  position: absolute;
  bottom: 22px;
  left: 26px; }

@media screen and (min-width: 758px) {
  #wrapper {
    width: 1166px;
    height: auto; }
  .top-btn {
    min-width: 80px;
    height: 80px;
    background-color: #fff799;
    border-radius: 50px;
    display: block;
    position: relative;
    bottom: 15px;
    left: 86%;
    position: fixed;
    border: 2px solid #ccc; }
  .top-btn img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 26px; }
  .top-btn p {
    font-size: 14px;
    font-family: "Meiryo";
    font-weight: bold;
    color: #8ed5be;
    border-bottom: 1px solid #8ed5be;
    padding-bottom: 2px;
    position: absolute;
    bottom: 30px;
    left: 38px; } }

#header {
  height: 60%; }

#top {
  width: 100%;
  height: auto; }

#top img {
  width: 100%; }

#gnav {
  margin-bottom: 50px; }

#gnav ul {
  height: 100px;
  list-style-type: none; }

.gnav {
  width: 50%;
  height: 100px;
  float: left;
  text-decoration: none;
  background-color: #fff799; }

.gnav a {
  height: 100px;
  border: 1px solid #ccc;
  font-size: 36px;
  font-family: "Pinyon Script";
  font-weight: bold;
  color: #8ed5be;
  line-height: 100px;
  text-align: center;
  display: block;
  text-decoration: none; }

.gnav a:hover {
  color: #fff; }

@media screen and (min-width: 758px) {
  #gnav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #gnav ul {
    width: 100%; }
  .gnav {
    width: 25%;
    height: 100px; } }

#about {
  width: 100%;
  height: auto;
  margin-bottom: 50px; }

.heading-img {
  text-align: center;
  margin-bottom: 30px; }

.heading-img img {
  max-width: 30%; }

#contact .heading-img img {
  width: 54%;
  min-width: 54%; }

.box-blue-about {
  background-color: #8ed5be;
  padding: 30px 20px; }

.box-white-about {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 25px; }
  .box-white-about dt {
    float: left;
    color: #8ed5be;
    font-weight: bold;
    padding-bottom: 15px;
    font-size: 12px; }
  .box-white-about dd {
    padding-left: 44px;
    padding-bottom: 15px;
    font-size: 12px;
    color: #888;
    font-weight: bold;
    line-height: 1.6; }

.box-blue-skills {
  background-color: #8ed5be;
  padding: 32px 18px;
  margin: 0 auto; }

.box-white-skills {
  background-color: #fff;
  padding: 20px 32px;
  border-radius: 20px; }

#skills {
  margin-bottom: 50px; }

#skills ul {
  margin-bottom: 10px; }

#skills li {
  font-size: 12px;
  font-family: "Meiryo";
  font-weight: bold;
  color: #888;
  line-height: 1.6; }

.box-blue-works {
  background-color: #8ed5be;
  padding: 32px 20px; }

.box-white-works {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 20px; }

#works {
  margin-bottom: 50px; }

.box-white-works figure {
  text-align: center;
  margin: 50px auto; }

.works-img {
  max-width: 90%; }

.box-white-works figcaption {
  font-size: 20px;
  font-family: "Pinyon Script";
  font-weight: bold;
  color: #8ed5be;
  padding-top: 30px; }

.box-blue-contact {
  background-color: #8ed5be;
  padding: 20px 30px; }
  .box-blue-contact dl {
    max-width: 600px;
    margin: 0 auto; }
  .box-blue-contact dt {
    float: left;
    text-align: center;
    width: 30%;
    clear: both;
    margin-bottom: 7px;
    font-size: 12px;
    font-family: "Meiryo";
    color: #fff;
    line-height: 1.6; }
  .box-blue-contact dd {
    width: 70%;
    float: right;
    margin-bottom: 20px;
    padding-top: 10px;
    font-family: "Meiryo";
    font-size: 12px; }

.box-blue-contact span {
  font-size: 14px;
  font-family: "Pinyon Script";
  font-weight: bold;
  color: #fff799;
  border-bottom: 1px solid #fff799; }

#name {
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 12px;
  max-width: 160px; }

#email {
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 12px; }

#select {
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 12px; }

#message {
  width: 100%;
  height: auto;
  font-size: 12px;
  border-radius: 20px;
  line-height: 1.5;
  overflow: auto;
  padding: 12px 12px; }

.btn-submit {
  width: 100%;
  text-align: center; }

span.txt-submit-en {
  font-size: 24px;
  font-family: "Pinyon Script";
  font-weight: bold;
  color: #fff799;
  border-bottom: 1px solid #fff799; }

span.txt-submit-jp {
  font-size: 16px;
  font-family: "Meiryo";
  font-weight: bold;
  color: #fff;
  border-bottom: none; }

.form a {
  display: block; }

@media screen and (min-width: 758px) {
  .box-blue-about {
    padding: 96px 100px; }
  .box-white-about {
    padding: 76px 82px; }
  .box-white-about dt {
    font-size: 28px;
    padding-top: 10px; }
  .box-white-about dd {
    font-size: 24px;
    padding-left: 130px; }
  .box-blue-skills {
    padding: 96px 100px; }
  .box-white-skills {
    padding: 48px 48px; }
  #skills li {
    font-size: 24px;
    font-family: "Meiryo";
    line-height: 1.8; }
  .box-blue-works {
    width: 100%;
    height: auto;
    padding: 100px 100px; }
  .box-white-works {
    height: auto;
    padding: 100px 100px;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .box-white-works figure {
    width: 50%;
    height: auto;
    padding: 0;
    margin: 0;
    float: left; }
  .box-white-works figure {
    margin-top: 40px; }
  .works-img {
    max-width: 90%;
    height: auto; }
  .box-white-works figcaption {
    padding: 20px 0; }
  .box-blue-contact dt {
    font-size: 16px; }
  .box-blue-contact span {
    font-size: 24px; }
  .box-blue-contact dd {
    padding: 20px;
    font-size: 14px; } }

#footer {
  clear: both; }

.content-footer {
  padding: 10px 10px;
  background-color: #006e63;
  position: relative;
  text-align: center; }

.txt-footer {
  font-size: 16px;
  font-family: "Pinyon Script";
  font-weight: bold;
  color: #fff799;
  text-align: center;
  padding: 80px; }

.content-footer small {
  font-size: 10px;
  font-family: "Arial";
  color: #fff;
  text-align: center;
  padding-top: 30px; }

@media screen and (min-width: 758px) {
  .txt-footer {
    font-size: 32px; }
  .content-footer small {
    font-size: 16px; } }
