#footer{

    clear: both;
}


.content-footer{
    padding: 10px 10px;
    background-color: #006e63;
    position: relative;
    text-align: center;
}

.txt-footer{
    font-size: 16px;
    font-family: "Pinyon Script";
    font-weight: bold;
    color: #fff799;
    text-align: center;
    padding: 80px;
//    margin-bottom: 40px;
    
//    position: absolute;
//    top: 166px;
//    left: 240px;
//    line-height: 400px;
}

.content-footer small{
    font-size: 10px;
    font-family: "Arial";
    color: #fff;
    text-align: center;
    padding-top: 30px;
//    vertical-align: bottom;
//    position: absolute;
//    bottom: 8%;
//    left: 42%;
    
}

@media screen and (min-width: 758px){
    .txt-footer{
        font-size: 32px;
    }
    
    .content-footer small{
        font-size: 16px;
    }
    
}

