.content-footer{
    width: 100%;
    height: 400px;
    background-color: #006e63;
    position: relative;
}

.txt-footer{
    font-size: 32px;
    font-family: "Pinyon Script";
    font-weight: bold;
    color: #fff799;
    text-align: center;
    position: absolute;
    top: 166px;
    left: 240px;
}

.content-footer small{
    font-size: 12px;
    font-family: "Arial";
    color: #fff;
    position: absolute;
    bottom: 48px;
    left: 280px;
}

