#header{
    height: 60%;
}

#top{
    width: 100%;
    height: auto;
}

#top img{
    width: 100%;
}

#gnav{
    margin-bottom: 50px;
    @extend %cf;
}

#gnav ul{
    height: 100px;
    list-style-type: none;
}

.gnav{
    width: 50%;
    height: 100px;
    float: left;
    text-decoration: none;
    background-color: #fff799;
}

.gnav a{
    height: 100px;
    border: 1px solid #ccc;
    font-size: 36px;
    font-family: "Pinyon Script";
    font-weight: bold;
    color: #8ed5be;
    line-height: 100px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.gnav a:hover{
    color: #fff;
}

@media screen and (min-width: 758px){
    #gnav{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    
    #gnav ul{
        width: 100%;
    }
    
    
    .gnav{
        width: 25%;
        height: 100px;
    }
    
    
    }







