#header{
    height: 60%;
}

.mv{
    width: 100%;
    height: auto;
}

.mv img{
    width: 100%;
}

#gnav{
    margin-bottom: 30px;
    @extend %cf;
}

.gnav-contents-01{
    list-style-type: none;
}

.gnav-contents-02{
    list-style-type: none;
}


.gnav{
    width: 50%;
//    height: 40%;
    float: left;
    text-decoration: none;
    background-color: #fff799;
}

.gnav a{
    border: 1px solid #ccc;
    font-size: 36px;
    font-family: "Pinyon Script";
    font-weight: bold;
    color: #8ed5be;
    line-height: 83px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.gnav a:hover{
    color: #fff;
}






