#mv{
    width: 100%;
    height: auto;
}

#mv img{
    width: 100%;
}

#gnav ul{
    width: 100%;
    height: 40%;
    list-style-type: none;
}

.gnav{
    width: 50%;
    height: 40%;
    float: left;
    text-decoration: none;
    border: 1px solid #ccc;
    background-color: #fff799;
}

.gnav a{
    font-size: 36px;
    font-family: "Pinyon Script";
    font-weight: bold;
    color: #8ed5be;
    line-height: 83px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.gnav a:hover{
    color: #fff;
}


.img-about{
    margin-bottom: 10px;
    text-align: center;
}

