//#aboutの編集ここから


#about{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.heading-img{
    text-align: center;
    margin-bottom: 30px;
}

.heading-img img{
    max-width: 30%;
}

.box-blue-about{
    background-color: #8ed5be;
    padding: 30px 20px;
}

.box-white-about{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 25px;
    dl{
        @extend %cf;
    }
    dt{
        float: left;
        color: #8ed5be;
        font-weight: bold;
        padding-bottom: 15px;
        font-size: 12px;
    }
    dd{
        padding-left: 44px;
        padding-bottom: 15px;
        font-size: 12px;
        color: #888;
        font-weight: bold;
        line-height: 1.6;
    }
}

//.box-white-about dl:first-child{
//    padding-top: 50px;
//}
//
//.box-white-about dl{
//  margin-bottom: 36px;  
//}
//
//.box-white-about dt{
//    font-size: 20px;
//    font-family: "Meiryo";
//    font-weight: bold;
//    color: #8ed5be;
//    float: left;
//    padding-left: 60px;
//}
//
//.box-white-about dd{
//    font-size: 16px;
//    font-weight: bold;
//    padding-left: 220px;
//    color: #888;
//    line-height: 1.5;
//    text-align: left;
//}

//#aboutの編集ここまで


//#skillsの編集ここから




.box-blue-skills{
    background-color: #8ed5be;
    padding: 32px 18px;
    margin: 0 auto;
}

.box-white-skills{
    background-color: #fff;
    padding: 20px 32px;
    border-radius: 20px;
}

#skills{
    margin-bottom: 50px;
}

#skills ul{
//    position: absolute;
//    top: 30px;
//    left: 50px;
    margin-bottom: 10px;
}

#skills li{
    font-size: 12px;
    font-family: "Meiryo";
    font-weight: bold;
    color: #888;
    line-height: 1.6;
}

//#skillsの編集ここまで


//#worksの編集ここから
.box-blue-works{
    background-color: #8ed5be;
    padding: 32px 20px;

}

.box-white-works{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 20px;
}

#works{
    margin-bottom: 50px;
}


//#works .heading-img img{
//    width: 30%;
//}

.box-white-works figure{
    text-align: center;
    margin: 50px auto;
}

.works-img{
    max-width: 90%;
}

.box-white-works figcaption{
    font-size: 20px;
    font-family: "Pinyon Script";
    font-weight: bold;
    color: #8ed5be;
    padding-top: 30px;
}

//#worksの編集ここまで


//#contactの編集ここから

//#contact .heading-img img{
//    width: 70%;
//}

.box-blue-contact{
    
    background-color: #8ed5be;
    padding: 20px 30px;
    dl{
        @extend %cf;
        max-width: 600px;
        margin: 0 auto;
    }
    dt{
        float: left;
        text-align: center;
        width: 30%;
        clear: both;
        margin-bottom: 7px;
        font-size: 12px;
        font-family: "Meiryo";
        color: #fff;
        line-height: 1.6;
        
    }
    dd{
        width: 70%;
        float: right;
        margin-bottom: 20px;
        padding-top: 10px;
        font-family: "Meiryo";
        font-size: 12px;
    }

}

.box-blue-contact span{
    font-size: 14px;
    font-family: "Pinyon Script";
    font-weight: bold;
    color: #fff799;
    border-bottom: 1px solid #fff799;
}

//
//.box-blue-contact dl{
//    text-align: center;
//    margin-bottom: 10px;
//    padding: 20px 30px;
//}
//
//.box-blue-contact dt{
//    max-width: cal(100/320%);
//    font-size: 12px;
//    font-weight: bold;
//    color: #fff;
//    line-height: 1.5;
////    margin-right: 20px;
//    float: left;
//    text-align: center;
//}
//
//.box-blue-contact span{
//    font-size: 16px;
//    font-family: "Pinyon Script";
//    font-weight: bold;
//    color: #fff799;
//    border-bottom: 1px solid #fff799;
//}
//
//.box-blue-contact dd{
//    width: cal(160/320%);
//    font-size: 12px;   
//    padding-left: 140px;
//    color: #fff;
//    text-align: left;
//}

#name{
//    height: 14px;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 12px;
    max-width: 160px;
}

//#sex{
//    margin-bottom: 36px;
//}

#sex dd{
//    padding-top: 24px;
}


#email{
   
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 12px;
}

#select{
    
    border-radius: 20px;
     padding: 2px 10px;
    font-size: 12px;
}

#message{
    width: 100%;
    height: auto;
    font-size: 12px;
    border-radius: 20px;
    line-height: 1.5;
    overflow: auto;
    padding: 12px 12px;
}

.btn-submit{
    width: 100%;
//    border: 1px solid #fff;
//    padding: 1px;
//    border-radius: 50px;
//    line-height: 1.5;
    text-align: center;
}

span.txt-submit-en{
    font-size: 24px;
    font-family: "Pinyon Script";
    font-weight: bold;
    color: #fff799;
    border-bottom: 1px solid #fff799;
}

span.txt-submit-jp{
    font-size: 16px;
    font-family: "Meiryo";
    font-weight: bold;
    color: #fff;
    border-bottom: none;
}

.form a{
    display: block;
}



//#contactの編集ここまで

@media screen and (min-width: 758px){
    
//    #aboutの編集ここから
    .box-blue-about{
        padding: 96px 100px;
    }
    
    .box-white-about{
        padding: 76px 82px;
    }
    
    .box-white-about dt{
        font-size: 30px;
        padding-top: 10px;
    }
    
    .box-white-about dd{
        font-size: 28px;
        padding-left: 130px;
    }
    
    
//    #aboutの編集ここまで
    
//    #skillsの編集ここから
    .box-blue-skills{
        padding: 96px 100px;
    }
    
    .box-white-skills{
        padding: 63px 48px;
    }
    
    #skills li{
        font-size: 36px;
        font-family: "Meiryo";
    }
    
//    #skillsの編集ここまで
    
    
//   #worksの編集ここから 
    .box-blue-works{
        width: 100%;
        height: auto;
        padding: 100px 100px;
       
    }
    
    
    .box-white-works{
        height: auto;
        padding: 100px 100px;
        margin: 0 auto;
        overflow: hidden;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    
    
    .box-white-works figure{
        width: 50%;
        height: auto;
        padding: 0;
        margin: 0;
        float: left;
    }
    
    .box-white-works figure{
        margin-top: 40px;
    }
    
    
    
    .works-img{
        max-width: 76%;
        height: auto;
        
    }
    
    .box-white-works figcaption{
        padding: 20px 0;
    }
    //   #worksの編集ここまで
    
    //#contactの編集ここから
    
    
    
    .box-blue-contact dt{
        font-size: 16px;
    }
    
    .box-blue-contact span{
        font-size: 24px;
    }
    
    .box-blue-contact dd{
        padding: 20px;
        font-size: 14px;
    }
    
    
    //#contactの編集ここまで
    
    

    
}

    
